<div id="footer">
    <div class="subsection" id="affiliation">
        © <a href="{{base_url}}">RsEfficiency</a> 2017. <a href="http://oldschool.runescape.com/">Old School RuneScape</a> is a registered trademark of Jagex Ltd
    </div>

    <div class="subsection" id="rsbuddy">
        The <a href="{{base_url}}/grand-exchange">RsEfficiency Exchange</a> feature would have not been possible without the use of <a href="https://rsbuddy.com/exchange">RsBuddy Exchange</a> API.
    </div>

    <div class="subsection" id="contact">
        If you have any questions or suggestions, you can contact me via the email below:
        <div id="email">osrsefficiency@gmail.com</div>
    </div>
</div>