<nav id="navigation-bar">
    <a id="logo-link" href="">
        <div id="logo-container">
            <h1 id="h1-logo"><span id="rs-logo">Rs</span><span id="efficiency-log">Efficiency</span></h1>
        </div>
    </a>
    <div id="nav-links-container">
        <a id="home-link" href="">Home</a>
        <h3 class="h3-links"><a id="grand-exchange-link" href="/grand-exchange">Grand Exchange</a></h3>
        <h3 class="h3-links"><a id="treasure-trail-link" href="/treasure-trails">Treasure Trails</a></h3>
        <h3 class="h3-links"><a id="calculator-link" href="/calculator">Calculator</a></h3>
        <h3 class="h3-links"><a id="donate-link" href="/donate">Donate</a></h3>
    </div>
</nav>