@font-face {
    font-family: 'Abel';
    src: url('../assets/fonts/Abel-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

body {
    font-family: 'Abel';
    background: linear-gradient(90deg,#1e1d1d,#093337 70%,#262626) fixed;
    margin: 0;
    min-height: 100vh;
    min-width: fit-content;
}

#navigation-bar {
    display: flex;
    background-color: #0f1829;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: solid 2px #1d232a;
}

#nav-links-container {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    white-space: nowrap;
    color: #CACACA;
    min-width: 432px;
}

#nav-links-container a {
    padding: 0 7px;
    line-height: 63px;
    color: #F1EEE6;
    text-decoration: none;
}

#nav-links-container a.active {
    background-color: rgba(115,125,124,0.2);
    color: rgba(23, 245, 235, 0.8);
    text-decoration: none;
}

#nav-links-container a:hover {
    color: #ffffff;
}

#h1-logo {
    margin: 0;
    font-weight: 500;
    font-size: 29px;
    font-family: cursive;
}

#logo-link {
    text-decoration: none;
}

#logo-container {
    font-size: 35px;
    padding: 9px 8px;
    cursor: pointer;
    margin: 0 22px;
    color: rgba(255, 255, 255, 0.9)
}

.h3-links {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.rs-logo {
    color: #35ECFF;
}

.active {
    display: block !important;
}

.description {
    max-width: 750px;
    min-width: 700px;
    color: #ffffff;
    line-height: 34px;
    text-align: center;
    font-size: 19px;
}

#footer {
    background: #0f1829;
    color: #D4D4D4;
    display: flex;
    padding: 12px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    min-width: 500px;
    min-height: 85px;
    max-height: 85px;
}

#footer .subsection {
    padding: 5px;
    width: 33%;
}

#footer a {
    color: #05D2FF;
}

#footer #email {
    font-size: 18px;
    line-height: 35px;
    color: #E6E6E6;
}