#efficiency-log {
    color: #ffffff;
}

#update-logo-container {
    text-align: center;
    font-size: 49px;
    padding: 0 0 10px;
    cursor: default;
    -webkit-text-stroke: 0.1px black;
    color: #ffffff;
}

#update-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 22px;
    position: relative;
    min-height: calc(100vh - 218px);
}

.title {
    margin: 25px 0;
    text-align: center;
    color: white;
    background: rgba(41, 41, 41, 0.8);
    border-radius: 3px;
    padding: 7px 10px;
    width: 100%;
    max-width: 584px;
    min-width: 300px;
    cursor: pointer;
}

.title:hover {
    background: rgb(197, 197, 197);
    color: #0E0E0E;
}
