{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RsEfficiency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='RsEfficiency OSRS Quest/Quick Guide to Priest and Peril'>
    <meta name="keywords" content="rsefficiency,rs efficiency,runescape,07,2007,fansite,old,school,osrs,guides,skill,minigame,money making,grand exchange,ge,quest,quick guides,miniquest">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/rsefficiency/rse16.ico' %}" />
    <base href='{{base_url}}' />

    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
    </script>
</head>

<body>

    <%= require('html-loader!./../partials/navigation_bar.html') %>

    <div id="quest-wrapper">

        <h2 id="quest-title">Priest and Peril</h2>

        <div id="requirements-wrapper">
            <h3 class="req-subtitle">Requirements:</h3>
            <ul class="unordered-list">
                <li>Defeat <a>Temple Guardian dog (Level 30)</a> without Magic.</li>
                <li>Defeat <a>Monk of Zamorak (Level 30)</a></li>
            </ul>
            <h3 class="req-subtitle">Items:</h3>
            <ul class="unordered-list">
                <li>Bucket</li>
                <li>50 Rune essence or Pure essence</li>
            </ul>
            <h3 class="req-subtitle">Recommended:</h3>
            <ul class="unordered-list">
                <li>3 Varrock Teleports</li>
            </ul>
        </div>

        <div id="instructions-wrapper">
            <h4 class="instruction-title">Kill Temple Guardian</h4>
            <ul class="unordered-list">

                <li class="step-wrapper toggle">
                    <div class="step">Talk to King Roald. (Chat: 1)</div>
                    <div class="detail-wrapper collapsible">
                        <div class="detail-container">
                            <div class="location-wrapper">
                                <div class="general-location">Inside Varrock Palace,</div>
                                <div class="specific-location">east side.</div>
                                <img src="/templates/assets/quest/priest_in_peril/map-1.png" />
                            </div>

                            <div class="spot-wrapper">
                                <img class="spot-img" src="/templates/assets/quest/priest_in_peril/spot-1.png" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="step-wrapper toggle">
                    <div class="step">Knock on the door. (Chat: 1-1)</div>
                    <div class="detail-wrapper collapsible">
                        <div class="detail-container">
                            <div class="location-wrapper">
                                <div class="general-location">The temple,</div>
                                <div class="specific-location">north-east of Varrock.</div>
                                <img src="/templates/assets/quest/priest_in_peril/map-2.png" />
                            </div>

                            <div class="spot-wrapper">
                                <div class="extra-details">Right-click the large door, and select 'Knock-at'.</div>
                                <img class="spot-img" src="/templates/assets/quest/priest_in_peril/spot-2.png" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="step-wrapper toggle">
                    <div class="step">Kill the Temple Guardian.</div>
                    <div class="detail-wrapper collapsible">
                        <div class="detail-container">
                            <div class="location-wrapper">
                                <div class="general-location">The temple,</div>
                                <div class="specific-location">north-east of Varrock.</div>
                                <img src="/templates/assets/quest/priest_in_peril/map-3.png" />
                            </div>

                            <div class="spot-wrapper">
                                <div class="extra-details">The Temple Guardian is unaffected by magic,</div>
                                <div class="specific-details"> but can be killed by melee or range.</div>
                                <img class="spot-img" src="/templates/assets/quest/priest_in_peril/spot-3.png" />
                            </div>
                        </div>

                        <div class="detail-container">
                            <div class="location-wrapper">
                                <div class="extra-details">Safespot:</div>
                                <div class="specific-location">Each four corners of the dungeon entrance.</div>
                                <img src="/templates/assets/quest/priest_in_peril/safe-map-3.png" />
                            </div>

                            <div class="spot-wrapper">
                                <div class="extra-details">You can either range or melee flinch to avoid taking any damage.</div>
                                <img class="spot-img" src="/templates/assets/quest/priest_in_peril/safe-spot-3.png" />
                            </div>
                        </div>
                    </div>
                </li>

                <li>Talk to King Roald.</li>
            </ul>
            <h4 class="instruction-title">Rescue Drezel</h4>
            <p class="required-description">Bring the following items: A Bucket and 25 Unnoted Rune/Pure essence</p>
            <ul class="unordered-list">

            </ul>
        </div>

    </div>

    <%= require('html-loader!./../partials/footer.html') %>

</body>

</html>