{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RsEfficiency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content='Utilize 2007 Runescape tools such as Treasure Trail to get your clue rewards and the Exchange feature to discover profitable items. Much more to come!'>
    <meta name="keywords" content="rsefficiency,runescape,07,2007,fansite,old,school,osrs,guides,skill,minigame,money making,grand exchange,ge">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'assets/rsefficiency/rse16.ico' %}" />
    <base href='{{base_url}}' />

    <script>
        var globals = {};
        globals.base_url = '{{base_url}}';
    </script>
</head>

<body>
    <%= require('html-loader!./partials/navigation_bar.html') %>

    <div id="update-wrapper">
        <div id="update-logo-container">
            <span class="rs-logo">RS</span><span class="efficiency-log">Efficiency</span>
        </div>

        <p class="description">RSEfficiency consist of many useful tools, quality guides, and unique features for all players to
        conveniently use and play Old School Runescape as efficiently as possible.</p>

        <div id="update-container">
            <div class="update-title">Update Panel</div>
            <div class="update-item add">
                <span class="update-date">06 Mar, 2018 12:56:34 PM - </span><span class="update-message">Added <a href="/quest/jungle-potion">Jungle Potion</a> quest guide.</span>
            </div>
            <div class="update-item add">
                <span class="update-date">04 Mar, 2018 03:55:13 PM - </span><span class="update-message">Added <a href="/quest/biohazard">Biohazard</a> quest guide.</span>
            </div>
            <div class="update-item add">
                <span class="update-date">04 Mar, 2018 01:10:32 PM - </span><span class="update-message">Added <a href="/quest/plague-city">Plague City</a> quest guide.</span>
            </div>
            <div class="update-item add">
                <span class="update-date">01 Mar, 2018 09:45:41 PM - </span><span class="update-message">Added <a href="/quest/merlins-crystal">Merlin's Crystal</a> quest guide.</span>
            </div>
            <div class="update-item add">
                <span class="update-date">28 Feb, 2018 02:32:56 PM - </span><span class="update-message">Added <a href="/quest/observatory-quest">Observatory Quest</a> quest guide.</span>
            </div>
            <div class="update-item add">
                <span class="update-date">27 Feb, 2018 10:22:27 PM - </span><span class="update-message">Added <a href="/quest/monks-friend">Monk's Friend</a> quest guide.</span>
            </div>
            <div class="update-item add">
                <span class="update-date">26 Feb, 2018 09:27:54 PM - </span><span class="update-message">Added <a href="/quest/druidic-ritual">Druidic Ritual</a> quest guide.</span>
            </div>
            <div class="update-item update">
                <span class="update-date">23 Feb, 2018 06:26:09 PM - </span><span class="update-message">Updated <a href="/grand-exchange">Grand Exchange</a> with the new items released.</span>
            </div>
            <div class="update-item add">
                <span class="update-date">20 Feb, 2018 07:33:11 PM - </span><span class="update-message">Added <a href="/quest/client-of-kourend">Client of Kourend</a> quest guide.</span>
            </div>
            <div class="update-item add">
                <span class="update-date">10 Feb, 2018 11:55:35 PM - </span><span class="update-message">Added all <a href="/quest">F2P Quest</a> guides.</span>
            </div>
            <div class="update-item">
                <span class="update-date">02 Feb, 2018 09:26:54 PM - </span><span class="update-message">Started recording all updates to the site.</span>
            </div>
        </div>
    </div>

    <%= require('html-loader!./partials/footer.html') %>
</body>

</html>